
# /
/.deps
/.libs
/Makefile
/Makefile.in
/aclocal.m4
/autom4te.cache
/config.guess
/config.log
/config.status
/config.sub
/configure
/depcomp
/install-sh
/libtool
/ltmain.sh
/missing
/mkinstalldirs
/sword.conf
/sword.pc
/sword.spec
/testlib
/.project
/.cproject
/.usrinst.sh.swp

# /examples/
/examples/Makefile
/examples/Makefile.in

# /examples/cmdline/
/examples/cmdline/.deps
/examples/cmdline/.libs
/examples/cmdline/Makefile
/examples/cmdline/Makefile.in
/examples/cmdline/lookup
/examples/cmdline/search
/examples/cmdline/threaded_search

# /include/
/include/config.h.in
/include/stamp-h1

# /lib/
/lib/*.lo
/lib/Makefile
/lib/Makefile.in
/lib/libsword.la
/lib/.deps
/lib/.libs

# /tests/
/tests/.deps
/tests/.libs
/tests/Makefile
/tests/Makefile.in
/tests/casttest
/tests/complzss
/tests/compnone
/tests/compzip
/tests/configtest
/tests/filtertest
/tests/genbooktest
/tests/indextest
/tests/introtest
/tests/keycast
/tests/keytest
/tests/lextest
/tests/listtest
/tests/localetest
/tests/mgrtest
/tests/modtest
/tests/parsekey
/tests/rawldidxtest
/tests/romantest
/tests/swaptest
/tests/swbuftest
/tests/testblocks
/tests/treeidxtest
/tests/webiftest
/tests/xmltest
/tests/nt
/tests/nt.vss
/tests/ot
/tests/ot.vss
/tests/test1.conf

# /tests/cppunit/
/tests/cppunit/.deps
/tests/cppunit/Makefile
/tests/cppunit/Makefile.in

# /tests/testsuite/
/tests/testsuite/verseparsing.try

# /tests/tmp/
/tests/tmp/lextest.dat
/tests/tmp/lextest.idx

# /utilities/
/utilities/.deps
/utilities/.libs
/utilities/Makefile
/utilities/Makefile.in
/utilities/addgb
/utilities/addld
/utilities/addvs
/utilities/cipherraw
/utilities/ciphertest
/utilities/ciphertest2
/utilities/emptyvss
/utilities/gbfidx
/utilities/imp2gbs
/utilities/imp2ld
/utilities/imp2vs
/utilities/installmgr
/utilities/lexdump
/utilities/mkfastmod
/utilities/mod2imp
/utilities/mod2osis
/utilities/mod2vpl
/utilities/mod2zmod
/utilities/modwrite
/utilities/osis2mod
/utilities/step2vpl
/utilities/stepdump
/utilities/thml2gbs
/utilities/txt2sword
/utilities/vpl2mod
/utilities/vs2osisref
/utilities/xml2gbs

# /utilities/diatheke/
/utilities/diatheke/.deps
/utilities/diatheke/.libs
/utilities/diatheke/Makefile
/utilities/diatheke/Makefile.in
/utilities/diatheke/diatheke
